In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('boros.csv')
df.head()

     borough  cats  population
0  Manhattan   107        1400
1   Brooklyn   205        3412
2      Bronx    33         323

In [8]:
df['cats_per_capita'] = df['cats'] / df['population'] 
df.head()

     borough  cats  population  cats_per_capita
0  Manhattan   107        1400         0.076429
1   Brooklyn   205        3412         0.060082
2      Bronx    33         323         0.102167

In [9]:
cats_per_capita = 0.07

if cats_per_capita < 0.10:
    print('low')
else:
    print('high')

low

In [14]:
#HERE WE GO...FUNCTIONS with pandas! 

#max, len etc are functions. So we are going to create our own 

#we are going to be returing something. Type the work return and you'll get something back

In [16]:
def cats_per_capita(row):
    print("I am looking at", row['borough'])
    return row['cats'] /row['population']
df.apply(cats_per_capita, axis=1)

#hey database...we want to work with a specific row of data

I am looking at Manhattan
I am looking at Brooklyn
I am looking at Bronx

0    0.076429
1    0.060082
2    0.102167
dtype: float64

In [19]:
def looking_at_something(row):
    print("I am looking at", row)
df.apply(looking_at_something, axis = 1)

#axis=1 WILL GIVE YOU THE ROWS!!!! 


#this is the same thing as:
#numbers = [1,2,3]
#for num in numbers:
    #print("I am looking at", num)

I am looking at borough            Manhattan
cats                     107
population              1400
cats_per_capita    0.0764286
Name: 0, dtype: object
I am looking at borough             Brooklyn
cats                     205
population              3412
cats_per_capita    0.0600821
Name: 1, dtype: object
I am looking at borough               Bronx
cats                     33
population              323
cats_per_capita    0.102167
Name: 2, dtype: object

0    None
1    None
2    None
dtype: object

In [22]:
def calculate_cats(row):
    if row['cats_per_capita'] < 0.1:
        return "low"
    else:
        return "high"
df.apply(calculate_cats, axis = 1)

0     low
1     low
2    high
dtype: object

In [23]:
df['cat_words'] = df.apply(calculate_cats, axis =1)
df.head()

     borough  cats  population  cats_per_capita cat_words
0  Manhattan   107        1400         0.076429       low
1   Brooklyn   205        3412         0.060082       low
2      Bronx    33         323         0.102167      high

In [24]:
def scrape_some_stuff(row):
    print("I am about to scrape", row['borough'])
    url = 'http://www.cats.com/population/' + row['borough']
    print("Visiting", url)
    print()

In [25]:
#time.sleep()
#This will slow down your search if the website is slow

In [26]:
#Now...we've pip3 install selenium. It is technically a java install 
import selenium

In [27]:
#Chrome webdriver...google this an install